---
import Layout from "../layouts/Layout.astro";
import Video from "../components/Video.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import PreFooter from "../components/PreFooter.astro";
---

<Layout
  title="Web para tu negocio, emprendimiento o contenido"
  description="Web para tu negocio, emprendimiento o contenido. Aumenta la visibilidad en internet contando tu historia mediante una página web"
>
  <main>
    <Video />
    <Intro />
    <Bento />
    <PreFooter />
  </main>
</Layout>

<style></style>
