---
import BentoItem from "./BentoItem.astro";
---

<section class="h-auto grid grid-rows-4 grid-cols-10 ">
  <BentoItem description="Atletas altamente determinados a ganar" class="col-span-4 row-span-2"/>
  <BentoItem description="compitiendo por chingo de varo" />
  <BentoItem description="En el cenit de los mayas" />
  <BentoItem description="Con un calor infernal" />
</section>