---
import { Image } from "astro:assets";
---

<section class="flex flex-col justify-center max-w-[80ch] mx-auto text-pretty p-5 items-center gap-y-5">
  <Image src="/logo.webp" alt="Logo Holkan evento deportivo de calistenia"width={400} height={400} loading={"lazy"}/>
  <h1 class="tracking-wide text-5xl font-bold text-wrap">Bienevid@s al evento deportivo de calistenia más feroz de todo latinoamerica</h1>
  <p>
    <strong>La Primera Competencia de Calistenia Maya</strong> . Los guerreros más fuertes y disciplinados de la región se reunen para desafiar sus límites en una jornada llena de adrenalina.
  </p>
  <p>
    El [fecha] , el [lugar] se convertirá en el campo de batalla donde los atletas más habilidosos pondrán a prueba su fuerza, técnica y resistencia en diferentes categorías. 
  </p>
  <p>
    <strong>No te pierdas la oportunidad</strong> de ser testigo de este encuentro histórico. Ven a vibrar con la energía de los competidores, a celebrar la fuerza del cuerpo humano y a inspirarte con la pasión por la calistenia. <br/>  ¡El destino te convoca a la Primera Competencia de Calistenia Maya!
  </p>
</section>