<section class="w-full h-96 flex flex-col justify-center items-center">
  <h2 class="text-5xl font-semibold mb-10">El evento en números</h2>
  <div class="flex flex-row gap-x-5 text-center">
    <div>
      <p class="text-6xl">
        <span class="font-bold">700</span>
      </p>
      <p>Noticias en todo el mundo</p>
    </div>
    <div>
      <p class="text-6xl">
        +<span class="font-bold">500</span>K
      </p>
      <p>de visulizaciones</p>
    </div>
    <div>
      <p class="text-6xl">
        <span class="font-bold">5</span>M$
      </p>
      <p>en bolsa de premios</p>
    </div>
  </div>
</section>
