<section class="w-full mx-auto p-5 lg:max-w-4xl">
  <h3 class="uppercase text-4xl font-semibold text-balance text-center mb-9">
    Disfruten del siguiente video que esta rechulon
  </h3>
  <lite-youtube
    videoid="zC1kh0jGOLg"
    videotitle="El midu un crack"
    class="shadow-2xl shadow-white/10 rounded-xl"></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
