<div class="w-full relative">
  <p class="absolute top-10 z-10 w-96 text-white m-auto left-0 right-0">
    Estamos bien cabrones, contratanos ya alv no le pienses mucho
  </p>
  <video
    class="w-full h-screen object-cover animate-fade animate-duration-1000"
    src="/video.mp4"
    autoplay
    muted
    loop
    style="clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 0);"
  ></video>
</div>
