---
import { fade } from "astro:transitions";
---

<div class="w-full relative">
  <div class="absolute inset-10 z-10 w-3/4 text-white m-auto text-center">
    <h1 class="font-bold text-5xl md:text-8xl text-balance">Bʼatz clash</h1>
    <p
      class="font-medium animated-box"
      transition:animate={fade({ duration: "6s" })}
    >
      Nos estamos preparando para el evento deportivo más impactante del año
    </p>
  </div>
  <video
    autoplay
    loop
    muted
    playsinline
    class="w-full h-screen object-cover animate-fade animate-duration-1000"
    preload="metadata"
    style="clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 0);"
  >
    <source src="/video.webm" type="video/webm" />
  </video>
</div>
